@import url("https://fonts.googlepis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

    body{font-family: 'Ubuntu', sans-serif; }
    .fundo{background: radial-gradient(#fff, #ffbdbd);}
    
    .navbar{
        display: flex;
        align-items: center;
        padding: 20px;
    }
    
    nav{flex:1; text-align: right;}
    
    nav ul{display: inline-block; list-style-type: none;}
    
    nav ul li{display: inline-block; margin-right:20px;}
    
    a{text-decoration: none; color:#555;}
    
    p{color:#555;}
    
    .conteiner-1{
        max-width: 1300px;
        margin:auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    .row{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: space-around;
    }
    
    .col-2{
        flex-basis: 50%;
        min-width: 300px;
    }
    
    .col-2 img{
        max-width: 100%;
        padding: 50px 0;
        margin-left: 0px;
    }
    
    .col-2 h1{
        font-size: 50px;
        line-height: 60px;
        margin: 25px 0;
    }
    
    .btn{
        display: inline-block;
        background: #ff5757;
        color:#fff;
        padding:8px 30px;
        margin:30px 0;
        border-radius: 30px;
        transition: background 0.5s;
    }
    
    .btn:hover{background: #ec4848;}
    
    .cabecalho{background: radial-gradient(#fff, #ffbdbd);}
    
    .cabecalho .row{margin-top: 70px;}
    
    /* pra cima ta o cabeçalho e a imagem principal junto do titulo e o botao */
    /* pra baixo vamos ter a lista da pagina de produtos*/


    .conteudo{
        display: flex;
        justify-content: center;
        align-items: center;
        min-height: 100vh;
        margin-top: -50px;
    }

    .conteiner{
        padding: 60px;
        background: #fff;
        box-shadow: 0 15px 25px rgba(0,0,0,0.4);
    }

    .conteiner h2{
        color:#222;
        margin-bottom: 10px;
        display: inline-block;
        font-weight: 500;
        border-bottom: 2px solid #222;
    }

    .conteiner ul{
        position: relative;
    }
    
    .conteiner ul li{
        position :relative;
        list-style: none;
        display: table;
        margin: 10px 0;
        padding-left: 34px;
        padding-right: 5px;
    }

    .conteiner ul li::before{
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 34px;
        height: 34px;
        background: transparent;
        border-radius: 34px;
        transition: background 0.5s, width 0.5s;
        transition-delay: 0.5s, 0s;
        border: 2px solid #ff6f6f;
        box-sizing: border-box;
    }

    .conteiner ul li:hover::before{
        width:100%;
        background: #ff6f6f;
        transition-delay: 0.5s, 0s;
    }

    .conteiner ul li::after{
        content: '';
        position: absolute;
        top: 13px;
        left: 12px;
        width: 6px;
        height: 6px;
        border-top: 2px solid #222;
        border-right: 2px solid #222;
        transform: rotate(45deg);
        transition: 0.2s;
        transition-delay: 0s;
    }

    .conteiner ul li:hover::after{
        left: 20px;
        transition-delay: 0.2s;
        transform: rotate(45deg) scale(1.5);
    }

    .conteiner ul li p{
        position:relative;
        z-index: 10;
        padding: 9px 10px;
        color: #222;
    }



    /* pra cima vamos ter a lista da pagina de produtos*/
    /* pra baixo vamos ter as categorias em destaque dos detalhes dos produtos*/
    
    .categorias{margin:70px 0;}
    
    .col-3{
        flex-basis: 30%;
        min-width: 250px;
        margin-bottom: 30px;
    }
    
    .col-3 img{width: 100%;}
    
    .small-conteiner{
        max-width: 1080px;
        margin: auto;
        padding-left: 25px;
        padding-right: 25px;
    }
    
    /* produtos em destaque abaixo */
    
    .col-4{
        flex-basis: 25%;
        padding: 10px;
        min-width: 200px;
        margin-bottom: 50px;
        transition: transform 0.5s;
    }
    
    .col-4 img{width: 100%;}
    
    .titulo{
        text-align: center;
        margin: 0 auto 80px;
        position: relative;
        line-height: 60px;
        color:#555;
    }
    
    .titulo::after{
        content:'';
        background:#555;
        width: 130px;
        height: 5px;
        border-radius: 5px;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }
    
    
    .h4{color: #555; font-weight: normal;}
    
    .col-4 p{font-size: 14px;}
    
    .avaliacao .fa{color: rgb(255, 227, 67);}
    
    .col-4:hover{transform: translateY(-5px);}
    
    /*-- promoção --*/
    
    .promo{
        background: radial-gradient(#fff, #ffbdbd);
        margin-top:80px;
        padding: 30px 0;
    }
    
    .col-2 .promo-img{padding: 50px; margin-left: 50px;}
    
    small{color: #555;}
    
    /*-- FIM promoção --*/
    
    
    /*-- rodape --*/
.rodape{
    background-color: #000000;
    padding: 20px 20px;
}
.cop{ 
    text-align: center; 
    color:rgb(216, 216, 216);
    font-style: Poppins;
}

/* Fim rodapé */
    /* Responsividade */
    
    .menu-icon{
        width:28px;
        margin-left: 20px;
        display:none;
    }

    .row-2{
        justify-content: space-between;
        Margin: 100px auto 50px;
    }

    select{
        border: 1px solid #ff523b;
        padding: 5px;
    }

    select:focus{
        outline: none;
    }

    .botao-pag{margin: 0 auto 80px;}

    .botao-pag span{
        display: inline-block;
        border: 1px solid #ff523b;
        margin-left: 10px;
        width: 40px;
        height: 40px;
        text-align: center;
        line-height: 40px;
        cursor: pointer;
    }
    
    .botao-pag span:hover{
        background-color: #ff523b;
        color:#fff;
    }

/* detalhes de um produto */

    .produto-unico{margin-top: 80px;}

    .produto-unico .col-2 img{padding: 0;}

    .produto-unico .col-2 {padding: 20px;}

    .produto-unico h4{
        margin: 20px 0;
        font-size: 22px;
        font-weight: bold;
    }

    .produto-unico select{
        display: block;
        padding: 10px;
        margin-top: 20px;
    }

    .produto-unico input{
        width: 50px;
        height: 40px;
        padding-left: 10px;
        font-size: 20px;
        margin-right: 10px;
        border:1px solid #ff523b;
    }

    input:focus{outline: none;}

    .produto-unico .fa{
        color: #ff523b;
        margin-left: 10px;
    }

    .small-img-row{
        display:flex;
        justify-content: space-between;
    }

    .small-img-col{
        flex-basis: 24%;
        cursor: pointer;
    }

    .small-img{
        max-width: 400px;
        max-height: 450px;
    }
    
    /* media query do menu para 800px */
    
    @media only screen and (max-width: 800px){
        nav ul{
            position: absolute;
            top: 130px;
            left: 0;
            background:#333;
            width:100%;
            overflow: hidden;
            transition: max-height 0.5s;
        }
        nav ul li{
            display:block;
            margin-right: 50px;
            margin-top: 10px;
            margin-bottom: 10px;
        }
        nav ul li a{
            color:#fff;
        }
        .menu-icon {
            display:block;
            cursor:pointer;
        }
    }
    
    /* media query do menu para 600px */
    
    @media only screen and (max-width: 600px){
        .row{
            text-align: center;
        }
        .col-2, .col-3, .col-4{
            flex-basis: 100%;
        }
        .produto-unico .row{
            text-align: left;
        }
        .produto-unico .col-2{
            padding: 20px 0;
        }
        .produto-unico .h1{
            font-size: 26px;
            line-height: 32px;
        }
    
    }